.top-bar, .top-bar ul {
  background-color:black;
  color:white;
}

.title-bar-title {
  Color:white;
}

a, a:visited {
  color:#2D9CDB;
}

/**#page-wrapper {
  margin-top:1rem;
}**/

/**Match Styling **/

.match-item {
  display:block;
  border-style:solid;
  border-width:1px;
  border-color:#DDDDDD;
  margin-bottom:1rem;
}

/**.match-item:hover {
  border-color:#2D9CDB;
}**/

.match-item a, .match-item a:visited {
  font-size:.875rem;
  font-weight:Bold;
  display:inline-block;
  width:100%;
  text-align:center;
height:1.5rem;
line-height:1.5rem;
margin-bottom:.25rem;
}

.match-item a:hover {
  background-color:#2D9CDB;
  color:white;
}

.current-match a, current-match a:visited {
background-color:black;
color:white;
}

.current-match {
border-color:black;
}

.match-item ul {
  margin:0;
}

.match-item li {
  display:block;
  list-style: none;
  float:left;
  width:47%;
  text-align:center;
  border-bottom:4px solid;
  padding-bottom:.5rem;
  height:100%;
  border-bottom-color:#EB5757;
}

li.versus-item {
  width:6%;
  border-bottom:none;
  font-size:.75rem;
  color:grey;
  height:100%;
  display:inline-block;
}


.match-item li:last-child {
  float:right;
  border-bottom-color:#1C6CD8;
}

li h5, li h6 {
  font-size:.75rem;
  margin:0;
}

li h5 {
  font-weight: bold;
}

.lost {
  opacity:.4;
}


.hero-title {
  background-color:#F2F2F2;
  margin-bottom:1rem;
  padding:1rem;
  text-align:center;
  height:5rem;
}

.hero-title h1, .hero-title h2 {
    width:100%;
  font-weight:bold;
}

h1 {
  font-size:1.25rem;
  margin:0;
}

h2 {
  font-size:1rem;
}

.tourney-menu-large {
  border-bottom:1px solid #2D9CDB;
  margin-bottom:1rem;
  font-size:1rem;
}

.tourney-menu-large li {
  border-bottom:4px solid white;
}

.tourney-menu-large li.is-active a {
  Background-color:white;
  color:black;
}


.tourney-menu-large li.is-active {

  border-bottom-color:#2D9CDB;
}

.dropdown .is-current a {
  color:black;
  font-weight:bold;
}

.tourney-menu-mobile {
   border-bottom:1px solid #2D9CDB;
     margin-bottom:1rem;
  font-size:1rem;

}



